
{% extends "layout.html" %}

{% block body %}
       
       <div class="main2">
           <div class="charts">
               <div class="chart">
                    <h2>GROWTH PROGRESS (in weeks)</h2>
                    <canvas id="linechart"></canvas>
               </div>
               
           </div>
       </div>

                             
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="../static/chart1.js"></script>

{% endblock %}