<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <script src="../static/agora-uikit.js"></script>
        <agora-react-web-uikit
            style="width: 100%; height: 100vh; display:flex;"
            appId='bb21e5586ebe49afb935ca40c92db4e0'
            channel='ivu'
            token="006bb21e5586ebe49afb935ca40c92db4e0IADDxpYG9tVaiVTc+ygY1YLejTLdorecZC1h9b1/57HOQ35yTeEAAAAAEADR1hyr/nc/YgEAAQD7dz9i"
            
        />
</body>
</html>